# ---------------------------------------------------------
# TWITCH AUTHENTICATION
# ---------------------------------------------------------
# dev.twitch.tv/console
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

# Twitch https://twitchtokengenerator.com/
# (Paste your tokens directly. Do NOT include 'oauth:' or '<>')
OAUTH_TOKEN= # ACCESS TOKEN
TWITCH_REFRESH_TOKEN=
REDIRECT_URI=https://twitchtokengenerator.com
# ---------------------------------------------------------
# TWITCH NUMERIC IDs (Required for EventSub/Helix)
# ---------------------------------------------------------
# Your Bot's numeric ID
BOT_USER_ID=your_bot_numeric_id_here

# BOTH channel IDs separated by a comma (NO spaces!)
CHAT_CHANNEL_USER_ID=248515674,929488898

# ---------------------------------------------------------
# STREAMER CONFIGURATION MAP
# ---------------------------------------------------------
MY_TWITCH_ID=248515674
NOBODY_TWITCH_ID=929488898


# ---------------------------------------------------------
# GOOGLE AI STUDIO (Gemini)
# ---------------------------------------------------------
GEMINI_API_KEY=your_gemini_key_here

# ---------------------------------------------------------
# DISCORD BOT CONFIGURATION
# https://discord.com/developers/applications
# ---------------------------------------------------------
DISCORD_TOKEN=your_discord_token_here
BLU_DISCORD_ALERT_CHANNEL=your_server_announcement_channel_id
NOBODY_DISCORD_ALERT_CHANNEL=nobodys_server_announcement_channel_id